.navbar{
    display: flex;
   
  align-items: center;
  justify-content:flex-end;
    flex-direction: row;
    background-color:#ffac4d;
    height:50px;
    color: rgb(6, 6, 6);
   box-shadow: 1px 1px 3px 1px rgba(204, 202, 202, 0.411);
   
}
.prof{
    padding:0px 25px 0px 25px;
}
.name{
    font-size:25px;
}
.im{
    font-size: 20px;
    display: flex;
    justify-content:stretch;
    align-items: center;
}
